@using CrystalSoftware.ERP.Api.Shared.Components.Header
@using CrystalSoftware.ERP.Api.Shared.Components.Sidebar
@using CrystalSoftware.ERP.Api.Shared.Components.ControlSidebar
@using CrystalSoftware.ERP.Api.Shared.Components.Footer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CrystalSoftware.ERP.Api</title>

    @await Html.PartialAsync("_Styles.cshtml")
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        @(await Component.InvokeAsync<HeaderViewComponent>())
        @(await Component.InvokeAsync<SidebarViewComponent>())

        <div class="content-wrapper">
            @RenderBody()
        </div>
        @(await Component.InvokeAsync<ControlSidebarViewComponent>())
        @(await Component.InvokeAsync<FooterViewComponent>())
    </div>

    @await Html.PartialAsync("_Scripts.cshtml")
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $(function () {
                var url = window.location;
                // for single sidebar menu
                $('ul.nav-sidebar a').filter(function () {
                    return this.href == url;
                }).addClass('active');

                // for sidebar menu and treeview
                $('ul.nav-treeview a').filter(function () {
                    return this.href == url;
                }).parentsUntil(".nav-sidebar > .nav-treeview")
                    .css({ 'display': 'block' })
                    .addClass('menu-open').prev('a')
                    .addClass('active');
            });
        });
    </script>
</body>
</html>