@model CrystalSoftware.ERP.Border.Dto.LoginRequest
@{
    ViewData["Title"] = "Login";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CrystalSoftware.ERP | Login</title>

    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Faça login para iniciar sua sessão</p>

                @using (Html.BeginForm(FormMethod.Post, new { @id = "loginForm" }))
                {
                    Html.ValidationSummary("", new { @class = "text-danger" });

                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @type = "email", @placeholder = "Email", @class = "form-control" } })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @placeholder = "Password", @class = "form-control" } })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                @Html.CheckBoxFor(m => m.KeepLogged, new { @checked = "checked", @class = "form-control", @id = "remember" })
                                <label for="remember">
                                    Continuar logado
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }

                <div class="social-auth-links text-center mt-2 mb-3">
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="@Url.Action("ForgotPassword", "Account")">Esqueci minha senha</a>
                </p>
                <p class="mb-0">
                    <a href="@Url.Action("Register", "Account")" class="text-center">Faça seu cadastro</a>
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>

    <script src="~/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation/additional-methods.min.js"></script>
    <script>
        $(function () {
            $.validator.setDefaults({
                submitHandler: function () {
                    alert("Form successful submitted!");
                }
            });

            $('#loginForm').validate({
                rules: {
                    Email: {
                        required: true,
                        email: true,
                    },
                    Password: {
                        required: true,
                        minlength: 6
                    }
                },
                messages: {
                    Email: {
                        required: "Campo obrigatório",
                        email: "Preencha com um email válido"
                    },
                    Password: {
                        required: "Campo obrigatório",
                        minlength: "A senha deve ter no mínimo 6 digitos"
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.input-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>
</body>
</html>