@model CrystalSoftware.ERP.Border.Dto.CreateAccountRequest
@{
    ViewData["Title"] = "Register";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CrystalSoftware.ERP | Registre-se</title>

    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="" class="h1"><b>Crystal</b>Software</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Preencha seus dados</p>

                @using (Html.BeginForm(FormMethod.Post, new { @id = "registerForm" }))
                {
                    Html.ValidationSummary("", new { @class = "text-danger" });

                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @type = "text", @placeholder = "Usuário", @class = "form-control" } })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @type = "text", @placeholder = "Nome completo", @class = "form-control" } })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @type = "text", @placeholder = "Email", @class = "form-control" } })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "password", @placeholder = "Senha", @class = "form-control" } })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.RetypePassword, new { htmlAttributes = new { @type = "password", @placeholder = "Digite novamente sua senha", @class = "form-control" } })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-8">
                            <div class="form-check">
                                @Html.CheckBoxFor(m => m.AgreeTerms, new { @class = "form-check-input", @checked = "" })
                                <label for="agreeTerms" class="form-check-label" style="color: black;">
                                    Concordo com os <a href="#">termos</a>
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button id="submit" type="submit" class="btn btn-primary btn-block">Registrar</button>
                        </div>
                    </div>
                }

                <a href="@Url.Action("Login", "Account")" class="text-center">Já tenho cadastro</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->

    <script src="~/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation/additional-methods.min.js"></script>

    <script>
        $(function () {
            $.validator.setDefaults({
                submitHandler: function () {
                    $('#submit').attr('disabled', 'disabled');
                    form.submit();
                }
            });

            $('#registerForm').validate({
                rules: {
                    UserName: {
                        required: true,
                    },
                    Email: {
                        required: true,
                        email: true,
                    },
                    Password: {
                        required: true,
                        minlength: 6
                    },
                    RetypePassword: {
                        required: true,
                        minlength: 6,
                        equalTo: "#Password"
                    },
                    AgreeTerms: {
                        required: true
                    },
                },
                messages: {
                    UserName: {
                        required: "Campo obrigatório",
                    },
                    Email: {
                        required: "Campo obrigatório",
                        email: "Preencha com um email válido"
                    },
                    Password: {
                        required: "Campo obrigatório",
                        minlength: "A senha deve ter no mínimo 6 digitos"
                    },
                    RetypePassword: {
                        required: "Campo obrigatório",
                        minlength: "A senha deve ter no mínimo 6 digitos",
                        equalTo: "As senhas devem ser iguais"
                    },
                    AgreeTerms: "Por favor aceite nossos termos"
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.input-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>
</body>
</html>